<IfModule mod_rewrite.c>
  RewriteEngine On

  # Ignore SSL paths
  RewriteRule ^\.well-known/ - [L]

  # Force non-www
  RewriteCond %{HTTP_HOST} ^www\.lokonomy\.in$ [NC]
  RewriteRule ^(.*)$ https://lokonomy.in/$1 [L,R=301]

  # Redirect ONLY exact homepage cleanly
  RewriteCond %{THE_REQUEST} \s/+\s [NC]
  RewriteRule ^$ /lander [L,R=302]
</IfModule>
